body {
    background-color: black;
}

h1 {
    font-style: inherit;
    font-size: 50px;
    text-align: center;
    color: white;
}

h2 {
    color: whitesmoke;
    font-size: 50px;
    text-align: center;
    font-style: oblique;
}

h3 {
    color: whitesmoke;
    text-align: center;
    font-style: initial;
    font-size: 25px;
}

h4 {
    color: rgb(242, 161, 20);
    text-align: center;
    font-size: 25px;
}

p {
    color: white;
    text-align: center;
    font-style: oblique;
    font-size: 20px;
    word-spacing: normal; 
    padding: 2%;
    margin: auto;
    line-height: 1cm;
    
}

span {
    color: white;
    text-align: center;
    font-size: 25px;
}

.headers {
    color: black;
    font-style: inherit;
    text-align: center;
    background-color: grey;
    margin-inline-start: auto;
}

.subheaders {
    color: rgb(242, 161, 20);
    text-align: center;
    font-size: 25px;
}

strong {
    color: gold;
}

.menutitle {
    font-style: inherit;
    color: whitesmoke;
    text-align-last: center;
}

.navbar {
    background-color: gray;
    padding: 15px;
    display: flex;
    justify-content: center;
    gap: 200px;
}

.navbar-link {
    flex-wrap: wrap;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 25px;
    background-color: gray;
}

.menu-photos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 300px;
}

.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.footer {
    display: flex;
    text-align: center;
    align-items: center;
}

.icon-photos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 50px;
}